@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: OctoberCrow;
    src: url(../fonts/October\ Crow.ttf);
}

* {
    /* font-family: 'roboto', sans-serif; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    /* background: #212121; */
    padding: 0px 0;
    color: white;

}

::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}


/********************Mensaje form login y registro************************/
.error-message {
    color: red;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.error-message-registro {
    color: red;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.input-container {
    position: relative;
}

.error-icon {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    color: red;
    /* Cambia el color a rojo */
}

/***************************************************************/

.Index1 {
    background-image: url(../img/Fondo\ Index.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

#Titulo_phasmo {
    font-family: OctoberCrow;
    font-size: 100px;
}

#desc_index {
    font-family: 'kanit', sans-serif;
    /* font-family: 'roboto', sans-serif; */
    /* font-family: OctoberCrow; */
    font-size: 36px;
}

.Index2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.tituloMapa {
    font-family: 'kanit', sans-serif;
    font-size: 36px;
}

.nombre_mapa_corcho {
    color: black;
}

.tarjeta_mapa_corcho {
    width: 120px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid black;
    padding-bottom: 3px;
    padding-top: 10px;
}

.corchoMapas {
    display: block;
    height: 80%;
    width: 80%;
    position: relative;
    background: url(../img/Fotos\ mapas/corcho.webp);
}

.imgsMapas {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    /* border: solid black 1px; */
}

.imgsMapas img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#Tanglewood {
    position: absolute;
    top: 20%;
    left: 10%;
    rotate: -10deg;
}

#Edgefield {
    position: absolute;
    top: 10%;
    left: 27%;
    rotate: 10deg;
}

#Ridgeview {
    position: absolute;
    top: 8%;
    left: 45%;
}

#Farmhouse {
    position: absolute;
    top: 12%;
    left: 63%;
    rotate: -10deg;
}

#Willow {
    position: absolute;
    top: 20%;
    left: 83%;
    rotate: 10deg;
}

#BrownStone {
    position: absolute;
    top: 55%;
    left: 10%;
    rotate: 12deg;
}

#Bleasdale {
    position: absolute;
    top: 60%;
    left: 25%;
    rotate: -12deg;
}

#Meadows {
    position: absolute;
    top: 63%;
    left: 40%;
    rotate: -3deg;
    z-index: 1;
}

#MeadowsRestricted {
    position: absolute;
    top: 70%;
    left: 48%;
    rotate: 5deg;
}

#Prison {
    position: absolute;
    top: 60%;
    left: 63%;
    rotate: 3deg;
}

#Woodwind {
    position: absolute;
    top: 65%;
    left: 85%;
    rotate: 8deg;
}

#Lodge {
    position: absolute;
    top: 55%;
    left: 80%;
    rotate: 4deg;
}

#Azar {
    position: absolute;
    top: 36%;
    left: 45%;
}